*{
    margin: 0;
    padding: 0;
    
}

.container{
    max-width: 1360px;
    margin: auto;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* nav  */

nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 16px 120px;
    align-items: center;
}

.link-container{
    display: flex;
    gap: 32px;
    list-style: none;
   
    
}

.link-container a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    
}

.nav-btn{
    background-color:rgba(70, 145, 101, 1);
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.nav-btn:hover{
    background-color: tomato;
}



/* banner */

.banner-parent{

   background-image: url('hero-bg.png');
   width: 100%;
   height:100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   
  
   }

   .banner-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:flex-start;
    gap: 50px;
    padding: 180px;
    

   }

.banner-label{
    background-color: white;
    width: 229px;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(70, 145, 101, 1);
    
    
}

.banner-title{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: rgba(255, 255, 255, 1);
    
}

 .banner-title h2{
   color: rgba(255, 255, 255, 1);
   margin: 5px;

 }
    

 .banner-title span{
    color: rgba(48, 184, 104, 1);
   
}

.banner-text p{
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.banner-button{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.banner-button-one button{
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
   padding: 13px 16px;
    justify-content: center;
    align-items: center;
   
}

.banner-button-one button:hover{
    background-color: tomato;
}

  
.banner-button-two button{
    border: 1px solid rgba(255, 255, 255, 1);
    background: transparent;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    
}

.banner-button-two button:hover{
    background-color: tomato;
}

/* second section */

.second-section{
    margin: 50px auto;
}

.section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 16px;
}
.section-text h2 {
font-size: 48px;
font-weight: 700;
}
.section-text p {
    font-size: 16px;
font-weight: 400; 
}

.section-card-parent{
    display: flex;
    gap: 24px;
}

.section-card{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.section-card img{
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}
.section-card h2{
    margin: 16px;
}
.section-card p{
 color: var(--#627382, rgba(98, 115, 130, 1));
}

/* third section */

.third-section img{
    border-radius:12px;
}

.brain h6{
color: #30B868;
font-size: 16px;
font-weight: 500;
}

.brain h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px 0;
}

.brain p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

 .checkmark {
margin-top: 40px;
}

.third-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 120px;
}

/* fourth section */

.fourth-section-title h3 {
font-size: 40px;
font-weight: 700;
}

.fourth-section-text p{
    color: #627382;
    font-size: 16px;
    font-weight:400 ;
    line-height: 24px;
    margin-top: 16px;
}

.fourth-section-btn{
    background-color:rgba(70, 145, 101, 1);
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin: 24px;
    
}

.fourth-section-btn:hover{
    background-color:tomato;
}

.fourth-p{
    color: #627382;
    font-size:  16px; ;
    font-weight: 400;
    line-height: 20px;
    margin-top: 1opx;
}

.fourth-section{
    background-color: rgba(247, 246, 242, 1);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 80px 40px;
    border-radius: 12px;
    gap: 24;
}

/* footer */




.footer-container{
    display: flex;
    justify-content: space-between;
}

.social h5{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.last-part {
    color:  rgba(250, 250, 250, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}




.footer-section{
    display: flex;
   flex-direction: column;
   justify-content: center;
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px 120px;
    gap: 30px;
    margin-top: 120px;
}

    

   





    
