*{
    margin: 0;
    padding: 0;
    
}

.container{
    max-width: 1360px;
    margin: auto;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

/* nav  */

nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 16px 120px;
    align-items: center;
}

.link-container{
    display: flex;
    gap: 32px;
    list-style: none;
   
    
}

.link-container a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    
}

.nav-btn{
    background-color:rgba(70, 145, 101, 1);
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}


/* banner */

.banner-parent{

   background-image: url('/assets/hero-bg.png');
   width: 100%;
   height:100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
  
   }

.banner-label{
    background-color: white;
    width: 229px;
    border-radius: 1000px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(70, 145, 101, 1);
    
}

.banner-title{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    
}

.banner-title h1{
    color: rgba(255, 255, 255, 1);
}

.banner-title span{
    color: rgba(48, 184, 104, 1);
}




    
